<html>
  <body>
    <h1>Noticias</h1>
    {% for noticia in noticias %}
      <h2>{{ noticia.titulo }}</h2>
      <p>{{ noticia.cuerpo }}</p>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  </body>
</html>
